body {
background: #5A5A5A url("images/body_bg.jpg") repeat-x bottom left;
margin:0px;
padding:0px;
min-width:980px;
}

* {
line-height:1.5em;
color:#676767;
font-family:Verdana, Arial;
text-decoration:none;
font-size:0.98em;
}

p {
text-align:justify;
}

h1, h2, h3 {
margin-top:0px;
line-height:1.5em;
margin-bottom:4px;
text-transform: uppercase;
font-weight:bold;
font-size: 140%;
text-align:left;
}

.main-content-wrap {
border:solid 1px #ccc;
padding:10px;
margin:2px;
background-color:#fff;
}

.main-content-block h1.title {
margin:0 0 -10px 0;
}

h2 {
font-size: 100%;}

h3 {
font-size: 100%;
}

h3#sitetitle {
font-size:160px;
line-height:170px;
width:100%;
vertical-align:top;
overflow:hidden;
margin:auto;
text-align:center;
color:#7D7D7D;
padding-top:8px;
}

.links, .small, .submitted, .breadcrumb {
font-size:9px;
color:#C0C0C0;
}

.links, .submitted a, .breadcrumb a {
color:#C0C0dd;
}

.links ul {
clear:both;
margin:auto;
display:inline-block;
width:98%;
background-color:#dedede;
}

.submitted {
display:block;
padding:0 0 3px 16px;
background: url("images/autor.gif") no-repeat top left;
}

a {
text-decoration:underline;
color:#2D3557;
line-height:18px;
}

a:hover {
color:#5884B2;
}

/*snazzy borders, cssplay.co.uk*/
.xtop {margin-top:6px;}
.xbottom {margin-bottom:20px;}
.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {background:#fff; border-left:1px solid #686868; border-right:1px solid #686868;}
.xb1 {margin:0 5px; background:#686868;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}

.pagebg
{
position: fixed;
left: 0;
top: 0;
background-image: url('images/bg_splash.jpg');
background-repeat: no-repeat;
height: 240px;
width: 100%;
margin: 0;
}

.page {
margin:0 1px;
background-color: #FFF;
min-height:25px;
}

.page_wrap {
padding:0;
position:relative;
z-index:0;
margin:auto;
width:97%;
}

div.topmenu {
height:25px;
padding:0 0 0 225px;
margin-top:-25px;
}

.topmenu ul.links li {
background: url("images/tab_bg.gif") no-repeat 0px -27px ;
text-transform: uppercase;
height:25px;
font-size:15px;
font-weight:bold;
float:left;
overflow:hidden;
text-align:center;
margin-right:3px;
width:97px;
}

.topmenu ul.links li a{
margin-top:3px;
display:block;
max-width:100px;
overflow:hidden;
text-decoration:none;
}

.topmenu ul.links li.active-trail {
background: url("images/tab_bg.gif") no-repeat left top;
}

.topmenu ul.links li a:hover {
color:#2A568F;
}

#logo-picture{
position:absolute;
/* you can change the position values (top, left) to offset the logo in the white area above the header bar or in the blue ribbon*/
top:-27px; left:24px;
/*top:0px; left:20px;  */
float:left;
margin:0;
z-index:1;
display:block;
}

div.header {
clear:both;
height:122px;
background: #2C80EF url("images/header_bg.jpg") no-repeat top left;
margin:0 1px;
text-align:center;
opacity: .6;
-moz-opacity: .6;
filter: alpha(opacity=60);
z-index:20;
}

div.col_left {
width: 18%;
min-width:180px;
padding:0px 2px;
float:left;
overflow:hidden;
}

.col_center, .col_center_78, .col_center_97, .col_center_66 {
float:left;
margin: 6px 0 10px 6px;
min-width:400px;
width: 48%;
padding:0;
display:inline-block;
background-color:#eee;
}

.col_center_66 {
width:66%;
}

.col_center_78 {
width:78%;
}

.col_center_97 {
width:97%;
}

.col_center_632 img, .col_center img, .col_center_755 img, .col_center_935 img, .main-content-block img {
margin:0 4px 4px;
}

div.col_right {
min-width: 300px;
width:28%;
min-height:300px;
float:right;
overflow:hidden;
margin-right:2px;
}

div.col_right img {
padding-bottom:3px;
}

div.col_right div.block ul, div.col_right div.block ul li {
line-height:1em;
padding:0px;
text-decoration:none;
padding-left:14px;
list-style-type: none;
}

div.col_right div.block ul li a{
text-decoration:none;
}

div.block {
display:block;
overflow:hidden;
width:100%;
padding:0px;
margin:0px;
min-height:85px;
background: #FFF url("images/block_bg.jpg") repeat-x bottom left;
}

div.block .content{
margin:0 0 -1px 0;
padding:4px;
min-height:85px;
}

.block_shade {
width:100%;
height:12px;
background: #FFF url("images/block_shade.jpg") repeat-x top left;
}

div.block_shade_lft {
float:left;
height:12px;
width:18px;
background: #FFF url("images/block_shade_lft.jpg") no-repeat top left;
}

div.block_shade_rgt {
float:right;
height:12px;
width:18px;
background: #FFF url("images/block_shade_rgt.jpg") no-repeat top right;
}

.footer .block_shade {
display:none;
}

div.block h3{
line-height:100%;
padding:2px;
width:100%;
margin:10px 0 10px 6px;
border-bottom:solid 1px #333;
}

.clear-both {
clear:both;
width:100%;
}

ul.menu {
padding:0 0 0 8px;
margin:0px;
display:block;
}

ul.menu li,
ul.menu li.leaf,
ul.menu li.expanded,
ul.menu li.collapsed,
#rws-uni-tabs {
font-size:1.1em;
text-decoration:none;
list-style-type: none;
display:block;
margin-bottom:1px;
margin-left:-2px;
}

ul.menu li a,
ul.menu li.leaf a,
ul.menu li.expanded a,
ul.menu li.collapsed a,
#rws-uni-tabs a{
display:block;
text-decoration:none;
border-left:solid 6px #B0B0B0;
padding:5px 0 0 3px;
}

#rws-uni-tabs {
margin-left:3px;
}

#rws-uni-tabs li {
margin-bottom:1px;
margin-left:-36px;
}

ul.menu li a:hover,
ul.menu li.leaf a:hover,
ul.menu li.expanded a:hover,
ul.menu li.collapsed a:hover,
#rws-uni-tabs a:hover{
border-left:solid 6px #2C80EF;
}

li.expanded ul {
display:block;
margin-left:10px;
font-size:.8em;
}

li.expanded ul li {
border-bottom:solid 1px #ececec;
width:100%;
overflow:hidden;
}

ul.menu .active {
color:#2C80EF;
font-weight:bold;
}

div.content, .content_after_blocks  {
margin-bottom:10px;
}

.content_after_blocks {
clear:both;
padding-left:0px;
display:block;
min-height:200px;
}

div.content h1 {
margin-bottom:-8px;
}

.node {
display:inline-block;
width:100%;
margin: 0 0 10px;
}

.node .links {
min-height:40px;
float:left;
width:48%;
background:#C2D2E7;
}
.node .links .inline, .node .taxonomy .inline {
width:80%;
}
.node .links a{
font-size:9px;
}

.node .links li{
display:block;
}

.taxonomy {
width:48%;
float:right;
background:#C2D2E7 url('images/icon_tag.jpg') no-repeat 4px 4px;
text-align:right;
display:inline-block;
}

.taxonomy ul {
color:#A0A0A0;
margin-left:40px;
display:inline-block;
float:left;
}

.taxonomy ul li{
float:left;
display:inline-block;
}

.node .picture {
display:inline-block;
float:right;
border:solid 1px #cdcdcd;
padding:1px;
margin:4px;
}

.main-content-block h1 a, h1 a {
display:block;
margin:8px 0px;
line-height:1.5em;
color:#676767;
}

div.content p, .main-content-block p {
line-height:1.2em;
}

.inline-right, .inline-left, .inline-center {
background-color:#EdEdEd;
border:solid 1px #E2E2E2;
display:inline-block;
padding:1px;
}

.caption {
font-size:0.95em;
text-align:center;
padding:2px;
}

.caption strong {
font-weight:normal;
}

.more-link {
font-size:0.8em;
}

.item-list ul li {
font-size:0.8em;
list-style-type: none;
margin:0px;
padding:0px;
}

div.col_right input, div.col_left input {
padding:0px; margin:0px;
font-size:0.8em;
}


div.footer {
margin:0 1px;
background: #313131 url("images/footer_bg.jpg") repeat-x top left;
}

.footer  *{
color:#bcbcbc;
}

div.footer p {
float:left;
margin:0 14px;
font-size:.8em;
color:#999;
}

span.footer_small{
font-size:.7em;
color:#444;
margin:0px 20px;
float:right;
}

span.footer_small a {
text-decoration:none;
color:#444;
}

.footer-blocks {
float:right;
width:99%;
padding-top:10px;
}

.footer-blocks .block {
width:24%;
float:left;
margin:0 3px;
display:block;
min-height:90px;
background:#313131;
}

.footer-blocks .block *{
color:#666;
}

.footer-blocks .block h3{
font-size:1em;
}

.footer-blocks .block .content{
font-size:0.85em;
background:none;
}

#footer-links {
float:right;
}

#search-box {
float:right;
font-size:0.8em;
font-weight:normal;
margin:1px 4px;
height:24px;
}

#search-box *{
font-weight:normal;
}

#search-box input{
border:solid 1px #ccc;
background: #E0E0E0 url("images/topmenu_bg.jpg") repeat-x 0px -8px;
}

.breadcrumb {
min-width:800px;
float:left;
font-size:0.6em;
font-weight:normal;
margin:0 0 0 7px;
height:10px;
}

/* begin Button */
a.Button, button.Button {
display:inline-block;
width: auto;
outline:none;
border:none;
background:none;
line-height:33px;
margin:0;
padding:0;
overflow: visible;
cursor: default;
text-decoration: none !important;
z-index:0;
}

a.Button .btn, button.Button .btn {
display:block;
position:relative;
float:left;
height: 33px;
overflow:hidden;
white-space: nowrap;
width: auto;
color: #F3F8F2;
}

a.Button .btn .t, button.Button .btn .t {
display:block;
height: 33px;
font-size: 13px;
white-space: nowrap;
text-align: left;
padding: 0 16px;
line-height: 33px;
text-decoration: none !important;
}

a.Button .hover, a.Button:hover, button.Button .hover, button.Button:hover {
color: #F1F8EC;
text-decoration: none !important;
}

a.Button .active, button.Button .active {
color: #F4F5EF;
}

a.Button .btn .l, a.Button .btn .r, button.Button .btn .l, button.Button .btn .r {
display:block;
position:absolute;
z-index:-1;
height: 99px;
background-image: url('images/Button.png');
}

a.Button .btn .l, button.Button .btn .l {
left:0;
right:10px;
}

a.Button .btn .r, button.Button .btn .r {
width:409px;
right:0;
clip: rect(auto, auto, auto, 399px);
}

a.Button .btn.hover .l, a.Button .btn.hover .r, a.Button .btn:hover .l, a.Button .btn:hover .r, button.Button .btn.hover .l, button.Button .btn.hover .r, button.Button .btn:hover .l, button.Button .btn:hover .r {
top: -33px;
}

a.Button .btn.active .l, a.Button .btn.active .r, button.Button .btn.active .l, button.Button .btn.active .r {
top: -66px;
}
/* end Button */

a.edit-this-link {
display:block;
font-size:0.6em;
float:left;
}

.tab {
font-size:0.7em;
margin:0px;
}

ul.tabs {
padding:0px;
margin:4px 0;
line-height:0.6em;
}

ul.pager {
margin:auto;
margin-bottom:4px;
display:block;
width:100%;
}

ul.pager li {
margin:0px;
font-size:0.9em;
color:#cdcdcd;
}

span.inline-left, span.inline.left {
display: block;
float: left;
}
span.inline-right, span.inline.right {
display: block;
float: right;
}

span.inline-center, span.inline.center {
display: block;
text-align: center;
margin: 5px 5px 5px 5px;
}

span.caption {
font-size:10px;
}

.profile .picture {
float:none;
}

/*********** MESSAGES *************/
div.messages{
padding:8px;
margin: 1px 0 2px 0;
min-height:24px;
}

div.error {
background:#98C8FF url('images/attention.gif') no-repeat top left;
border: 1px solid #ff0000;
font-weight: bold;
color: #444;
display:block;
min-height:38px;
padding-left:64px;
}

div.status {
background:#98C8FF;
padding-left:28px;
border: 1px solid #18FD00;
font-weight: bold;
color: #444;
display:block;
}

.error a {
color:#fff;
}

.error a:hover {
color:#ffe7e7;
}

div.messages ul {
padding:0;
}

/********************* box *******************/
.box{
border: 1px solid #c9c9c6;
background-color:#ededed;
padding:4px;
font-size:0.8em;
}

.item-list ul{
padding-left:0;
margin-top:5px;
}

.block-region {
color:#000;
font-weight:bold;
font-family: Tahoma;
padding-left:10px;
}

#user-login-form li.openid-link, #user-login li.openid-link {
margin-left:0;
padding-left:1.5em;
background-position:top left;
}

#user-login-form #edit-submit {
margin-bottom:10px;
}

/*** Comments ***/
.comment {
clear:both;
border: 1px solid #c9c9c6;
background-color:#ededed;
padding:4px;
margin:20px 0 0 6px;
}

.comment .picture img {
float:right;
margin:3px;
border:1px solid #dadada;
padding:1px;
}

.comment .submitted {
font-size: 1em;
font-size: 11px;
display:inline;
}

.comment-author {
margin-bottom:6px;
font-weight:bold;
}

.comment-date {
margin-bottom:6px;
}

.this-link {
color:#aab7b7;
font-size:11px;
}

.this-link a {
color:#aab7b7;
}

.this-link a:visited {
color:#aab7b7;
}

.comment .new {
background:#5884B2;
color:#fff;
padding:1px 4px 1px 4px;
}

.comment .new a {
color:#fff;
text-decoration:none;
}

.comment .new a:hover {
color:#fff;
}

.comment p {
padding-bottom:6px;
}

.comment .content {
padding-top:10px;
}

.links-comment {
float:left;
margin:0;
padding:0;
color:#869999;
}

.links-comment ul.links {
margin:0;
padding:0;
}

.links-comment .links li {
font-size:0.85em;
padding:0;
margin-right:15px;
}

.links-comment a {
color:#869999;
}
.links-comment a:hover {
color:#517074;
}

.links-comment li.comment_reply a.comment_reply {
color:#349f00;
}

#comment-form .form-item {
margin-top:0;
}

#comment-form .resizable-textarea {
clear:both;
}

#comment-form .form-item label {
float:left;
padding-right:10px;
}

.admin-panel {
border:solid 1px #dedede;
}

div.admin .left, div.admin .right {
margin:0px;
padding:0px;
}